body {
    background-color:  white;
    background-image:  none;
    background-size:   100vw 100vh;
    background-repeat: no-repeat;   

    background-size: auto;

    font-family:       'Amatic SC', cursive;
    font-size:         25px;
    
    

}


.containerbox {
    
    position:          absolute;
    width:             830px;
    height:            570px;

    margin-left:       5vw;
    margin-top:        20vh;

    background-color: rgba(0, 0, 0, 0.5);

    border-radius:     50px; 

}

.linkbox {

    width:       200px;
    height:      230px;

    margin-left: 3vw;
    margin-top:  3vh; 

    float:       left;
   /* background-color: rgba(255, 0, 0, 0.5);*/

}

ul {
	list-style: none;
}


h2 {
    text-align: center;
    margin-top: -10px;
    color:      maroon;
}


.links {

    font:       italic;

    text-align: center;
}

a {
    color:         	 black;
    display:         block;
    text-decoration: none;
    text-align:      center;

    color:         whitesmoke;

    margin-top:      10px;

    font-size:       28px;

   /* font-weight: bold;*/

 /*   text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px 1px 0 grey,
    1px 1px 0 grey;  */

}

li {

    color:   whitesmoke;

    font-size: 28px;

 /*   text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px 1px 0 grey,
    1px 1px 0 grey;  */

}